{% extends 'base.html' %}

{% block content %}
{{super()}}
    <section id="team" class="team">
        <div class="container">
  
          <div class="section-title">
            <h2>Каталог специалистов</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" alt="">
                <h4>Анна Иванова</h4>
                <span>Индивидуальная терапия, работа с тревожностью и депрессией.</span>
                <p>
                  Опыт: 8 лет.<br>
                  Образование: БГПУ, факультет психологии.<br>
                  Анна помогает клиентам справляться с тревожностью и депрессией, создавая поддерживающую атмосферу на консультациях.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="">
                <h4>Дмитрий Соколов</h4>
                <span>Коучинг, личностный рост, карьерное консультирование</span>
                <p>
                  Опыт: 10 лет.<br>
                  Образование: БГПУ, факультет психологии.<br>
                  Дмитрий помогает клиентам достигать профессиональных и личных целей, развивать лидерские качества и мотивацию.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="">
                <h4>Мария Кузнецова</h4>
                <span>Семейная терапия, работа с парами.</span>
                <p>
                  Опыт: 7 лет.<br>
                  Образование: БГПУ, факультет психологии.<br>
                  Мария помогает семьям и парам улучшить коммуникацию и преодолеть конфликты, создавая гармоничные отношения.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" alt="">
                <h4>Игорь Васильев</h4>
                <span>Кризисное консультирование, помощь в сложных жизненных ситуациях.</span>
                <p>
                  Опыт: 12 лет.<br>
                  Образование: РГСУ, факультет психологии.<br>
                  Игорь поддерживает клиентов в кризисные моменты, помогая справляться с утратой, разводом и другими жизненными изменениями.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="">
                <h4>Екатерина Орлова</h4>
                <span>Детская и подростковая психология.</span>
                <p>
                  Опыт: 6 лет.<br>
                  Образование: БГПУ, факультет психологии.<br>
                  Екатерина помогает детям и подросткам справляться с эмоциональными и поведенческими трудностями, создавая доверительную обстановку.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="">
                <h4>Алексей Смирнов</h4>
                <span>Групповая терапия, управление стрессом.</span>
                <p>
                  Опыт: 9 лет.<br>
                  Образование: БГУ, факультет психологии.<br>
                  Алексей проводит групповые сеансы, помогая участникам управлять стрессом и находить поддержку среди других участников.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" alt="">
                <h4>Ольга Сидорова</h4>
                <span>Диагностика и тестирование, личностные тесты.</span>
                <p>
                  Опыт: 5 лет.<br>
                  Образование: БГУ, факультет психологии.<br>
                  Ольга проводит психологическую диагностику и тестирование, помогая клиентам лучше понять свои эмоциональные состояния.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="">
                <h4>Сергей Ковалев</h4>
                <span>Психосоматические расстройства, работа с хроническими заболеваниями.</span>
                <p>
                  Опыт: 11 лет.<br>
                  Образование: БГУ, факультет психологии.<br>
                  Сергей помогает клиентам справляться с психосоматическими расстройствами и улучшать качество жизни при хронических заболеваниях.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="">
                <h4>Наталья Романова</h4>
                <span>Психотерапия для взрослых, работа с самооценкой и личными границами.</span>
                <p>
                  Опыт: 8 лет.<br>
                  Образование: СПбГУ, факультет психологии.<br>
                  Наталья помогает взрослым клиентам повышать самооценку, устанавливать личные границы и улучшать качество жизни.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </section>
{% endblock %}