
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Услуги</h2>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="icon-box">
                <i class="bi bi-briefcase"></i>
                <h4><a href="#">Индивидуальные психологические консультации</a></h4>
                <p>Поможем вам подобрать психолога для индивидуальных консультаций по решению личных проблем и эмоциональных трудностей.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="bi bi-card-checklist"></i>
                <h4><a href="#">Семейная и парная терапия</a></h4>
                <p>Подберем специалиста для улучшения взаимоотношений в семье и между партнерами через семейную и парную терапию.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-bar-chart"></i>
                <h4><a href="#">Групповые сеансы и тренинги</a></h4>
                <p>Найдем подходящую группу для сеансов и тренингов, где вы сможете работать над своими проблемами в поддерживающей среде.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h4><a href="#">Кризисное консультирование</a></h4>
                <p>Рекомендуем психологов, которые помогут справиться со сложными жизненными ситуациями через кризисное консультирование.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-brightness-high"></i>
                <h4><a href="#">Коучинг и личностное развитие</a></h4>
                <p>Поможем подобрать коуча для определения целей и разработки плана их достижения в рамках личностного развития.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4">
              <div class="icon-box">
                <i class="bi bi-calendar4-week"></i>
                <h4><a href="#">Диагностика и тестирование</a></h4>
                <p>Найдем специалиста для проведения психологической диагностики и тестирования, чтобы лучше понять ваши эмоциональные состояния.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->