<section id="what-we-do" class="what-we-do">
        <div class="container">
  
          <div class="section-title">
            <h2>О нас</h2>
           </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Наше видение</a></h4>
                <p>Мы стремимся сделать психологическую помощь доступной, удобной и эффективной для всех, кто в ней нуждается.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Наша команда</a></h4>
                <p>Наша команда состоит из опытных и сертифицированных психологов, которые искренне заботятся о благополучии своих клиентов.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Наши ценности</a></h4>
                <p>Мы гарантируем высокий уровень профессионализма, полную конфиденциальность и создание поддерживающей атмосферы для всех наших клиентов.</p>
              </div>
            </div>
  
          </div>
  
        </div>
</section>
  